body {
	margin: 0px;
}

#container{
	position: static;
	max-width: 1500px;
	margin: auto;
	padding: 10px;
	text-align: left;
	background: rgba(230,230,255,0.7);
	font-size: 20px;
	min-height: 500px; 
	/*background: #E5E5E5;
	opacity: 0.5;*/	
}

.header {
	font-size: 200%;
	position: static;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 20px;
	text-align: center;
	vertical-align: middle;	
}

.header ul {
	text-align: center;
	list-style: none;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.header li {
	display: inline-block;
}

.header a {
	display: inline-block;
	padding: 8px;
	color: #E5E5E5;
	text-decoration: none;
	font-weight: bold;
}

.pealeht {
        position: static;
	opacity: 1;
        drop-shadow: 5px 5px 10px #FFFFFF;
        blur: 5px;
}

html {
	background-image: url(pics/bg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Noto serif';
	background-repeat: no-repeat;
}

footer {
	position: static;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #E5E5E5;
	padding: 10px;	
}
